{% extends 'admin/layout.html.twig' %}

{% block body_id 'risk_edit' %}

{% block main %}
    <h1>{{ 'title.edit_risk'|trans({'%id%': risk.id}) }}</h1>

    {{ include('risk/_form.html.twig', {
        form: form,
        button_label: 'action.save'|trans,
        include_back_to_home_link: true,
    }, with_context = false) }}
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('risk_show', {id: risk.id}) }}" class="btn btn-lg btn-block btn-primary">
            <i class="fa fa-eye" aria-hidden="true"></i> {{ 'action.show_risk'|trans }}
        </a>
    </div>

    <div class="section actions">
        {{ include('risk/_delete_form.html.twig', {risk: risk}, with_context = false) }}
    </div>

    {{ parent() }}


{% endblock %}

