{% extends 'admin/layout.html.twig' %}

{% block body_id 'authority_edit' %}

{% block main %}
    <h1>{{ 'title.edit_authority'|trans({'%id%': authority.id}) }}</h1>

    {{ include('authority/_form.html.twig', {
        form: form,
        button_label: 'action.save'|trans,
        include_back_to_home_link: true,
    }, with_context = false) }}
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('authority_show', {id: authority.id}) }}" class="btn btn-lg btn-block btn-primary">
            <i class="fa fa-eye" aria-hidden="true"></i> {{ 'action.show_authority'|trans }}
        </a>
    </div>

    <div class="section actions">
        {{ include('authority/_delete_form.html.twig', {authority: authority}, with_context = false) }}
    </div>

    {{ parent() }}


{% endblock %}

